#RewriteEngine on
#SetEnvIf RUTA_BASE ^(.*)$ RUTA_BASE=/autana_ultimo/
#RewriteCond %{REQUEST_FILENAME} -d [OR]
#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^(.*)$ $1 [QSA,L]
#RewriteCond %{REQUEST_URI} src/(.+)$
#RewriteCond %{DOCUMENT_ROOT}%{ENV:RUTA_BASE}src/%1 -f
#RewriteRule ^(.*)$ %{ENV:RUTA_BASE}src/%1 [L,R]
#RewriteRule ^(.*)/$ index.php?controller=$1 [L,NC,QSA]
ErrorDocument 404 /autana/?controller=front&action=notFound