/*generales*/
* {
        margin: 0;
        padding: 0;
  }
@font-face {
      font-family: 'Roboto', sans-serif;
    }
a h1 h2 h3 h4 h5 h6 p{

    font-family: "Roboto";
}

html, body {
    height: 100%;
    margin: 0;   
}
/*generales*/

/* dashboard */
#principal {
    margin-top: 48px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#principal.cambiado {
    padding-left: 250px;
}
#barra {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#principal.cambiado #barra {
    width: 250px;
}
#contenido {
    width: 100%;
    position: absolute;
    padding: 15px;
}
#principal.cambiado #contenido {
    position: absolute;
    margin-right: 250px;
}

/*ESTILOS DE BOTONES DINAMICOS*/

.contenido_2{
    position: fixed;/*PARA DEJAR EL FOOTER FIJO A LA PANTALLA*/
    bottom: 15px;/*MARGEN HACA ABAJO*/
    z-index: 1000;/* Depende el valor segun las capas flotantes que tengas */
    left: 10px; /* Depende el Ancho de donde se va a colocar */
}
#minimenu{
    list-style: none;
}
#minimenu li {

    margin-bottom: 20px;
}
#minimenu a{

    border-radius: 100%;
    padding:10px 13px;
    box-shadow: 0px 0px 30px 0 rgb(14, 12, 12);
    font-size: 15px;
}
.contenido_2 .ocultar{
    background-color: #0275D8;
    color: #fef6f6;
}
.contenido_2 .trabajos{
    background-color: #0275D8;
    color: #fef6f6;
}
.contenido_2 .docentes{
    background-color: #0275D8;
    color: #fef6f6;
}
.contenido_2 .reportes{
    background-color: #0275D8;
    color: #fef6f6;
}
/**/
/* Sidebar Styles */
.menu {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    text-indent: 6px;
    line-height: 50px;
}
.logotipo img{
    width:150px;
    margin-left: 35px;
    text-align: center;
}
.menu li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.menu li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.menu li a:active,
.menu li a:focus {
    text-decoration: none;
}
li.boton_salir a{

    background: rgba(255,255,255,0.2);
    color: #fff;
}
/* menu desplegable*/
.submenu {
    display:none;
    position: relative;
    background: color: #999999;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* menus desplegables */
.submenu a {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 0px 15px 0px;
    text-decoration: none;
    display: block;
}
.boton_desplegable:hover .submenu {display: block;}
.submenu a:hover {}

@media(min-width:968px) {
    #principal {
        padding-left: 250px;
    }

    #principal.cambiado {
        padding-left: 0;
    }

    #barra {
        width: 250px;
    }

    #principal.cambiado #barra {
        width: 0;
    }

    #contenido {
        padding: 20px;
        position: relative;
    }

    #principal.cambiado #contenido {
        position: relative;
        margin-right: 0;
    }
}

/* dashboard */

/* login */
.home{ margin-top: 8%; }
.login{background-color: #fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.imagen img{
    width: 60px;
}
.imagen {
    background: #137bd4;
    width: 100px;
    height: 100px;
    padding: 15px 20px;
    margin: 0 auto;
    border-radius: 100%;
    box-sizing: border-box;
}
/* login */

/*header home*/
.banner {
    width:100%; /* Establecemos que el header abarque el 100% del documento */
    padding: 0px 0px;
    overflow:hidden; /* Eliminamos errores de float */
    background:#222;
    margin-bottom:0px;
    box-shadow:0px 0px 30px 0 rgb(14, 12, 12);
}
.boton{
    background-color: #137bd4;
    border-color: #137bd4;
}
.boton:hover{
    background-color: #137bd4;
}

.barra_2 {

    width:60%; /* Establecemos que el ancho sera del 90% */
    max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
    margin:auto; /* Centramos los elementos */
    overflow:hidden; /* Eliminamos errores de float */
}
 
.banner .logo {
    line-height:0px;
    float:left;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}
.banner .logo img{
    width: 150px;
}
.banner nav {
    float:right;
    line-height:130px;
}
.banner nav a {
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:15px;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}
 
.banner nav a:hover {
    background-color: #137bd4;
    border-radius:50px;
}
@media(max-width:768px) {
.banner nav {
    display: none;
}
}
@media(max-height:690px) {
footer {
    display: none;
}
}
/*header home*/
footer {
        padding:10px 0px;
        box-shadow: 0px 0px 30px 0 rgb(14, 12, 12);
        position: fixed;/*PARA DEJAR EL FOOTER FIJO A LA PANTALLA*/
        width: 100%;
        bottom: 0;/*MARGEN HACA ABAJO*/
        z-index: 1000;/* Depende el valor segun las capas flotantes que tengas */
        left: 0; /* Depende el Ancho de donde se va a colocar */ 
        background-color:#222;
        color:#fff;      
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #222;
}

.navbar .navbar-inverse{

 border-color: #222;
}





